<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cards{% endblock %}</title>
    <link rel="stylesheet" href="../templates/common-card-styles.css">
    {% block additional_styles %}{% endblock %}
</head>
<body>
    {% block macros %}{% endblock %}
    
    <div class="grid">
        {% block card_loop %}
            {% for card in cards %}
                {% block card_container %}
                    <div class="card {% block card_classes %}{% endblock %}">
                        {% block card_background %}{% endblock %}
                        
                        {% block card_content_wrapper %}
                            <div class="card-content {% block card_content_classes %}{% endblock %}">
                                {% block card_header %}
                                    <div class="card-header {% block card_header_classes %}{% endblock %} {% block card_title_bg_class %}default{% endblock %}" {% block card_title_style %}{% endblock %}>
                                        <div class="card-title">
                                            {% block card_title %}{% endblock %}
                                        </div>
                                        {% block card_badges %}{% endblock %}
                                    </div>
                                {% endblock %}
                                
                                {% block card_image %}{% endblock %}
                                
                                {% block card_body %}
                                    <div class="card-body">
                                        <div class="stats-grid stat-grid-left align-bottom">
                                        {% block card_left %}{% endblock %}
                                        </div>

                                        <div class="stats-grid stat-grid-right align-bottom">
                                        {% block card_right %}{% endblock %}
                                        </div>
                                    </div>
                                {% endblock %}
                                
                                {% block card_stats %}{% endblock %}
                                
                                {% block card_notes %}{% endblock %}
                                
                                {% block card_footer %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            {% endfor %}
        {% endblock %}
    </div>
</body>
</html>