{% macro dots(val, max) %}
  {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
  {% set m = max is defined ? max : 5 %}
  <span class="rating">
    {% for i in 1..m %}
      {% if i <= v %}<span class="filled">●</span>{% else %}<span class="empty">○</span>{% endif %}
    {% endfor %}
  </span>
{% endmacro %}

{% macro columnBlockStats(title, data, stats, maxRatings) %}
  <div class="stat-group col">
    <h3>{{ title }}</h3>
    <div class="stat-row">
      {% for statName in stats %}
        <div class="stat-label">{{ statName }}</div>
        <div class="stat-value">{{ _self.dots(data[statName], maxRatings) }}</div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro shields(val, max) %}
    {% set v = (val is defined and val is not same as(false) and val is not same as('')) ? (val) : 0 %}
    {% set m = max is defined ? max : 5 %}
    <span class="rating shields">
    {% for i in 1..m %}
        {% if i <= v %}<span class="filled">🛡</span>{% else %}<span class="empty">⬜</span>{% endif %}
    {% endfor %}
  </span>
{% endmacro %}
