{% import 'characters/_characters_macros.html.twig' as R %}

<div class="roll-stats">
  <span class="roll-stat stat-wound-penalties"><span class="value">{{ R.woundPenalty(woundPenalty) }}</span></span>
  <span class="roll-stat"><span class="label">Dice:</span> <span class="value">{{ dice }}</span></span>
  <span class="roll-stat"><span class="label">Diff:</span> <span class="value">{{ difficulty }}</span></span>
  {% if mod is not same as(null) and mod is not same as(false) and mod is not same as('') %}
    <span class="roll-stat"><span class="label">Mod:</span> <span class="value">{{ mod }}</span></span>
  {% endif %}
</div>