{% extends "characters/characters-base.html.twig" %}

{% import 'characters/_characters_macros.html.twig' as R %}

{% block card_body %}
    {% set DDVDicePool = card.Dexterity + card.Dodge + card.Essence + WoundPenalty %}
    {% set DDV = max(1, DDVDicePool/2 + 1) %}
    {% for armor in card.Armors %}
        {{ dump(armor) }}
        <hr>
    {% endfor %}
    <h3>Defences</h3>
    <strong>Dodge DV {{ DDV }}</strong>
{% endblock %}